*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
header{
    width: 100%;
    height: 0.8rem;
    background: #dbdadd;
    position: fixed;
    left: 0;
    top:0;
    font-size: 0.2rem;
    color: #a2a1a4;
    padding: 0.15rem 0.15rem;
}
header>input{
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size:0.2rem;
    font-weight: bold;
    line-height:0.5rem;
    text-align: center;
    border-radius: 0.25rem;
}
dl{
    width:100%;
    height: auto;
    padding-top:0.8rem;
    font-size: 0.2rem;
}
dl>dt{
    width:100%;
    height:0.6rem;
    background: #d6d6d8;
    border-bottom: 1px solid #bababc;
    border-top:1px solid #bababc;
    padding-left: 0.15rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #fff;
}
dl>dd{
    width:100%;
    height:0.8rem;
    padding: 0 0.3rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
}
.tip{
    width:100%;
    height:0.6rem;
    background: #d6d6d8;
    border-bottom: 1px solid #bababc;
    border-top:1px solid #bababc;
    padding-left: 0.15rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #fff;
    position: fixed;
    left: 0;
    top:0.8rem;
}
dl>dd>a{
    color: #161618;
}
asside{
    width: 0.5rem;
    font-size: 0.2rem;
    color: #1d4465;
    text-align: center;
    position: fixed;
    top:50%;
    right:0.2rem;
}
asside>li{
    padding: 0.15rem 0;
    line-height: 0.2rem;
}
.addLink{
    width:0.5rem;
    height:0.5rem;
}